body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	line-height: normal;
}
.color{
	border: 1px solid red;
}
.slide{
	background-attachment: fixed;
	height: auto;
	padding: 140px 0px;
	position: relative;
	width: 100%;
}

.navbar-inner{
background: #333;
border: none;
border-radius: 0px;
}

.navbar .nav>li>a{
	color: #999;
	text-shadow: none;
	transition: color 0.5s;
}

.navbar .nav>li>a:hover{
	color: #DB3F27;
}

.navbar .nav>li{
	padding: 10px 0 20px 0;
}

.navbar{
	margin-bottom: 0;
}

.backgroundNaranja{
	-moz-box-shadow: inset 0px 5px 5px #ae3232;
	-webkit-box-shadow: inset 0px 5px 5px #ae3232;
	box-shadow: inset 0px 5px 5px #ae3232;
	background-color: #ee3232;
}

.fondoCrema{
	background-color: #e8e7e7;
}

.sombraCremaAdentro{
	-moz-box-shadow: inset 0px 5px 5px #777777;
	-webkit-box-shadow: inset 0px 5px 5px #777777;
	box-shadow: inset 0px 5px 5px #777777;
}
.sombraCremaAfuera{
	-moz-box-shadow:  0px 5px 5px #b2b2b2;
	-webkit-box-shadow:  0px 5px 5px #b2b2b2;
	box-shadow:  0px 5px 5px #b2b2b2;
}

.sombraGrisAdentro{
	-moz-box-shadow: inset 0px 5px 5px #323135;
	-webkit-box-shadow: inset 0px 5px 5px #323135;
	box-shadow: inset 0px 5px 5px #323135;
}
.backgroundGris{
	background-color: #49484e;
}

.somoElite{
	font-size: 1.5em;
	color: #e8e7e7;
	padding: 0 5%;
}

.seccionActiva{
	background-color: #ee3232;
	color: #fff;
}

span{
	font-weight: bold;
}
.fondoScroll{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(right, #969696 0%, #030303 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(right, #969696 0%, #030303 100%);

/* Opera */ 
background-image: -o-linear-gradient(right, #969696 0%, #030303 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #969696), color-stop(1, #030303));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(right, #969696 0%, #030303 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to left, #969696 0%, #030303 100%);
}
.centrado{
	margin:0 auto;
}

.alCien{
	width: 100%;
}

.padding20{
	padding: 1.5em;
}

.padding10{
	padding: 0.5em;
}

.margin10{
	margin:0.5em 0;
}

.mapaGoogle iframe{
	width: 100%;
	height: 450px;

}

.textoCenefa{
	color: #e8e7e7; 
}
.fondoInput{
	border-bottom: 1px solid #8A8079;
}

.fondoInput input{
	background-color: transparent;
	border: none;
	color: #666;
	font-size: 1.2em;
	width: 90%;
}

.botonEnvio{
	width: 30%;
	text-align: center; 
}

.letraBlanca{
	color: #E3E3E3;
}

    /* Large desktop */
    @media (min-width: 1200px) { 
		
    }
     
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
		.somoElite{
			font-size: 1.5em;
		}
    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
		.somoElite{
			font-size: 1.5em;
		}
    }
     
    /* Landscape phones and down */
    @media (max-width: 480px) {
		.somoElite{
			font-size: 1.3em;
		}
    }
